@import '~bootstrap/scss/bootstrap';
@import 'typography';

.btn-lg {
  margin: 5px;
}

button.sView {
  display: none;
}

body,
html {
  height: 100%;
  margin: 0;
  }

body {
    background-image: url('public/background.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Righteous', cursive;
    background-attachment:fixed;
  }

h1,
h2,
p {
  color: $white;
  }

.update-message {
  color: $black;
}
