@import '~bootstrap/scss/bootstrap';
@import 'typography';

.btn-lg {
  margin: 5px;
}

button.sView {
  display: none;
}

body,
html {
  height: 100%;
  margin: 0;
  }

body {
  background-attachment: fixed;
  background-image: url('public/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Righteous', cursive;
  height: 100%;
  }

h1,
h2,
p {
  color: $white;
  }

.update-message {
  color: $black;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #cdd2ca20;
  padding: 10px;
  margin: 5px;
  // opacity: 0.2;
  position: relative;
}

.grid-item {
  background-color: #FFFFFF80;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
  display: grid;
//  position: absolute;
}
